//@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pt-0 {
  padding-top: 0;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}

.font-niam {
  font-family: "Pacifico", cursive;
}

.m-10 {
  margin: 10px;
}
.slick-slide {
  padding: 20px !important;
}
.slick-center {
  padding: 10px !important;
}
/* Animation */





@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@mixin smoothTransition {
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
