.parallax-home {
  background-image: url(/homar.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.thin-text {
  font-family: "Overpass", sans-serif;
  font-weight: 100;
  z-index: 2;
}
.title-text {
  font-size: 5rem;
}
.accueil-text {
  padding: 0 9rem;
}
.image-gallery {
  margin-top: 50px;
  padding: 0 9rem;
}
.bg-1 {
  background-image: url(/4_plates.jpg);
  height: 300px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-2 {
  background-image: url(/4_plates.jpg);
  height: 300px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-3 {
  background-image: url(/4_plates.jpg);
  height: 300px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}


.bg-4 {
  background-image: url(/grilled_chicken.jpg);
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-5 {
  background-image: url(/crispy_prawn.jpg);
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-6 {
  background-image: url(/mines_frites.jpg);
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-text-container{
  height:300px
}
.btn-menu{

}
